
@{
    ViewBag.Title = "ThankYou";
   // Layout = "~/Views/_ViewStart.cshtml";
}

<h2>ThankYou for your time!</h2>
@*<p style="text-align:center">
        Return to homepage
        <button type="button" class="btn btn-success">@Html.ActionLink("Users", "Index")</button>
</p>*@


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />